page-event-checkout,
.event-checkout {

  .event-info {
    .event-image {
      width: 100%;
      height: 120px;
      background-size: 100% auto;
      background-position: center;
      border-radius: 1rem 1rem 0 0;
    }

    .event-features {
      ion-icon {
        min-width: 1.5rem;
        text-align: center;
      }
    }
  }

  .item.no-border .item-inner {
    padding-right: 0;
    [item-end] {
      margin: 0;
    }
  }

}
