<!-- -->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>
      <span ion-text>{{ event.eventnomb }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">
  <!--slides-->
  <ion-slides class="to-top" pager  [parallax]="true" [loop]="true" [autoplay]="2000" [effect]="cube" [paginationType]="fraction" [zoom]="true">
    <ion-slide *ngFor="let image of event.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides>

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <div class="text-sm">
          <div>
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text color="light">{{ event.eventfein }}</span>
            <ion-icon name="checkbox-outline" margin-left class="text-white" *ngIf="event.eventid"></ion-icon>
            <span ion-text color="light" *ngIf="event.eventid">Cancelación gratuita</span>
            <ion-icon name="list-box" margin-left class="text-white" *ngIf="event.eventid"></ion-icon>
            <span ion-text color="light" *ngIf="event.eventid">Voucher electrónico</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--high light-->
  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">Participantes</span>
    <ul class="highlight">
      <li *ngFor="let participante of event.participantes">
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ participante.partnomb }}</span>
      </li>
    </ul>
  </div>

  <!--booking form-->
  <div class="booking-form card round" margin>
    <div class="border-bottom" padding>
      <h5>Localidades</h5>

      <!--choose guest-->
      <ion-grid class="filters" no-padding margin-top>
        <ion-row>
          <ion-col class="adult" width-70>
            <span ion-text color="primary"><strong>{{ event.localidades[0].locaprec | currency:'USD':true }}</strong> {{ event.localidades[0].locadesc }}</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusLocalityCount0()" [hidden]="localityCount0 < 2"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ localityCount0 }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusLocalityCount0()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row margin-top>
          <ion-col width-70>
            <span ion-text color="primary"><strong>{{ event.localidades[1].locaprec | currency:'USD':true }}</strong> {{ event.localidades[1].locadesc }}</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusLocalityCount1()" [hidden]="localityCount1 < 1"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ localityCount1 }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusLocality1Count1()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div padding class="form-bottom">
      <button ion-button class="pull-right" color="secondary" tappable (click)="checkout()">Pague
        {{ totalCost | currency:'USD':true }}
      </button>
      <div class="clear"></div>
    </div>
  </div>

  <!--description-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">Descripción</span>
    <p ion-text>{{ event.eventdesc }}</p>
  </div>

  <!--address-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">Ubicación</span>
    <p ion-text>{{ event.eventloca }}
      <button ion-button [clear]="true" tappable (click)="openLocation()">
        &nbsp;&nbsp;<ion-icon name='pin'></ion-icon>
      </button>
    </p>
  </div>
</ion-content>
