page-event-detail,
.event-detail {

  ul.highlight {
    padding-left: 0;
    font-size: 1.2rem;
    list-style: none;

    li {
      margin-bottom: 1rem;
    }
  }

  // change text-sm size
  .text-sm {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  // booking form style
  .booking-form {

    ion-grid {

      ion-row {

        ion-col {
          padding: 0;
        }
      }
    }

    .form-bottom {
      display: flex;
      align-items: center;

      .pull-right {
        margin-left: auto;
      }
    }
  }
}
