<ion-header>
    <ion-navbar color="primary">
        <!--button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button-->

      <!--ion-buttons end>
        <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>+ Marcador</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="showEventPlace()"><ion-icon name="add"></ion-icon>Evento</button>
      </ion-buttons>

        <ion-buttons right>
            <button [disabled]="saveDisabled" ion-button (click)="save()">Cancelar</button>
        </ion-buttons-->
      <!--ion-buttons right>
        <button ion-button [clear]="true" (click)="showEventPlace()"><ion-icon name="pin"></ion-icon>Ver ubicación</button>
      </ion-buttons-->
      <ion-label> {{locationText}} </ion-label>
    </ion-navbar>

    <!--ion-toolbar>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Buscar" light #search></ion-searchbar>
    </ion-toolbar-->

    <!--ion-list>
        <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list-->

    <div id="pos">
       <ion-label>Lat : {{latitude}} &nbsp;&nbsp;  Long : {{longitude}}</ion-label>
    </div>

</ion-header>

<ion-content>
    <div #pleaseConnect id="please-connect">
        <p>Validando Conexion a Internet...</p>
    </div>
    <div #map id="map">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>
