<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Eventos</span>
    </ion-title>
  </ion-navbar>

  <!--  -->
  <ion-toolbar padding color="light">
    <p ion-text no-margin class="text-white">
      <strong>{{eventsCount}}</strong> resultados encontrados!
    </p>
  </ion-toolbar>

</ion-header>

<ion-content padding class="events detail-bg">
  <!--list of events-->
  <div class="event card" *ngFor="let event of events"  margin-bottom>
    <div class="background border-bottom" tappable (click)="viewEventDetail(event)" [ngStyle]="{'background-image': 'url(' + event.images[0] + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ event.eventnomb }}</h6>
          <h6 class="pull-right text-white" ion-text>Desde {{ event.localidades[0].locaprec | currency:'USD':true }}</h6>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-label class="text-white"><strong>{{ event.eventloca }}</strong> (Descuento desde <span ion-text  class="text-green bold">10 tickets</span>)</ion-label>
      <ion-row align-items-center>
        <ion-icon name="time" class="text-white"></ion-icon>
        <span ion-text class="text-white">{{ event.eventfein.substring(0,16) }}</span>
        <ion-buttons>
          <button ion-button small icon-start color="light" (click)="likeEvent(event)">
            <ion-badge  color="dark">{{event.eventlike}}</ion-badge>
            &nbsp;&nbsp;<ion-icon name='thumbs-up'></ion-icon>
          </button>
          <button ion-button small icon-start color="light" (click)="dislikeEvent(event)">
            <ion-badge color="dark">{{event.eventdili}}</ion-badge>
            &nbsp;&nbsp;<ion-icon name='thumbs-down'></ion-icon>
          </button>
        </ion-buttons>
      </ion-row>

    </div>
  </div>
</ion-content>
